*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
.main-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 5%;
    background-color: #000000;
    color: #9191ca;
}
.logo {
    display: flex;
    align-items:center;
    gap: 100px;
}

.navbar {
    display:flex;
    gap: 20px;
    margin-left: 20px;
}

.navbar a{
    text-decoration: none;
    color: #7979d8;
    margin-left: 20px;
    font-weight: bold;
}
#sobre-mi {
    padding: 60px 10%;
}

#sobre-mi h2 {
    margin-bottom: 20px;
}

#sobre-mi article{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#sobre-mi article p {
    max-width: 500px;
    margin-bottom: 10px;
}
#sobre-mi article img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}